/* Desktop-first approach */

* {
    box-sizing: border-box;
}

:root {     /* Light mode colors */
    --bg-color: #F8F5F0;
    --text-color: #0D2F4D;
    --nav-bg: #E8E5E1;
    --nav-btn: #FFFFFF;
    --nav-btn-hover: #F5F5F5;
    --nav-btn-darker: #E9E9E9;
    --toggle-color: #cfbf85;
    --nav-list-text: #163C5E;
    --add-btn-hover: #E8E5E1;
    --link-hover: #3F6A91;
    --link-active: #7CA2C4;
    --remove-text-hover: #D17069;
    --remove-text-active: #99504D;
    --shape-color: #B89A6A;
    --shape-active: #785928;
    --points-0: #8DC47C;
    --points-1: #82B572;
    --points-2: #52913F;
    --points-3: #3E6E2F;
    --footer-bg: #EFECE8;
    --dropdown-bg: #D9D6D2;
}

body.dark-mode {
    --bg-color: #052642;
    --text-color: #F1EFE9;
    --nav-bg: #042038;
    --nav-btn: #F5F5F5;
    --nav-btn-hover: #DDDDDD;
    --nav-btn-darker: #BBBBBB;
    --toggle-color: #073D6B;
    --nav-list-text: #F8F5F0;
    --add-btn-hover: #0F3454;
    --link-hover: #7CA2C4;
    --link-active: #85AFD4;
    --remove-text-hover: #C94942;
    --remove-text-active: #913530;
    --shape-color: #0B4C85;
    --shape-active: #0E63AD;
    --points-0: #4A8739;
    --points-1: #54973F;
    --points-2: #63B24B;
    --points-3: #6CC251;
    --footer-bg: #0F3454;
    --dropdown-bg: #073D6B;
}

body {
    font-family: "Figtree", sans-serif;;
    background-color: var(--bg-color);
    color: var(--text-color);
    padding: 0 35px;
    margin: 0;
}

#nav-bar {
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--nav-bg);
    padding: 20px 30px;
    margin: 0 -35px;
    top: 0;
}

#nav-left {
    display: flex;
    gap: 35px;
}

#nav-left h1 {
    margin: 0;
}

#nav-controls {  /* stores buttons */
    display: flex;
    gap: 10px;
    z-index: 0;
}

#nav-controls button {
    background-color: var(--nav-btn);
    border: none;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    text-align: center;
}

#nav-controls button:hover {
    background-color: var(--nav-btn-hover);
}

#nav-controls button:active {
    background-color: var(--nav-btn);
}

#nav-toggle {
    display: none;
    color: var(--toggle-color);
}

#nav-menu { /* stores links that jump to content */
    display: flex;
    align-items: center;
    gap: 10px;
    list-style: none;
    margin: 0;
    padding: 0;
}

#nav-menu li.mobile {
    display: none;
}

#nav-menu li p {
    margin: 0;
}

#nav-menu li a {
    color: var(--nav-list-text);
    text-decoration: none;
}

#nav-menu li a:hover {
    color: var(--link-hover);
}

#nav-menu li a:active {
    color: var(--link-active);
}

#nav-bar button:hover,
#add-button:hover,
#text-container p:hover,
.shape:hover,
#save-button:hover, 
.habit:hover,
.habit input:hover,
.habit label:hover,
.item {
    cursor: pointer;
}

section {
    scroll-margin-top: 87px;   /* accounts for nav bar's space */
}

h3 {
    padding-top: 15px;
}

input, textarea, button {
    font-family: 'Figtree', sans-serif;
    border: 1px solid var(--text-color);
    border-radius: 3px;
    background-color: var(--bg-color);
    color: var(--text-color);
    padding: 5px;
}

input::placeholder, 
textarea::placeholder {
    color: var(--text-color);
}

#add-button:hover,
#save-button:hover {
    background-color: var(--add-btn-hover);
}

#text-container p:hover {
    color: var(--remove-text-hover);
}

#text-container p:active {
    color: var(--remove-text-active);
}

.shape {
    display: inline-block;
    background-color: var(--shape-color);
    margin-right: 20px;
    height: 50px;
    width: 50px;
}

#circle {
    border-radius: 50%;
}

#triangle {
    height: 0;
    width: 0;
    background-color: transparent;
    border-left: 28px solid transparent;
    border-right: 28px solid transparent;
    border-bottom: 50px solid var(--shape-color);
}

.shape.active {     /* squares & circles */
    background-color: var(--shape-active);
}

#triangle.active {
    background-color: transparent;
    border-bottom-color: var(--shape-active);
}

#char-count-input {
    width: 80%;
}

#char-count-display-container {
    display: flex;
    align-items: center;
}

#char-display {
    flex-grow: 3;
}

#save-container {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-grow: 1;
}

#save-button {
    width: 60px;
    height: 30px;
    text-align: center;
}

#saved-checkmark {
    visibility: hidden;     /* still takes up space */
    color: var(--points-2);
}

#saved-checkmark.active {
    visibility: visible;
}

.habit {
    display: inline-block;
    width: 35%;
    margin: 2px;
}

#sleep-hours-container {
    display: none;
    margin-left: 24px;
}

#hours-label {
    font-size: 0.75rem;
}

#sleep-hours-input {
    font-size: 0.75rem;
    width: 35px;
    border: none;
    background-color: transparent;
}

.points-display {
    display: inline-block;
    width: 36%;
}

#points-message.zero{
    color: var(--points-0);
}

#points-message.one{
    color: var(--points-1);
}

#points-message.two{
    color: var(--points-2);
}

#points-message.three{
    color: var(--points-3);
}

#item-bank, #drop-line {
    border: 1px solid var(--text-color);
    border-radius: 4px;
    padding: 5px;
    width: 90%;
    margin-bottom: 40px;
}

#item-bank {
    display: flex;
    flex-wrap: wrap;
}

#drop-line {
    min-height: 40px;
}

.item {
    margin: 5px;
    padding: 6px;
    width: 100px;
}

footer {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: var(--footer-bg);
    margin: -15px -35px;
    margin-top: 50px;
    padding: 5px;
}

footer a {
    color: var(--link-hover);
}

footer a:active {
    color: var(--link-active);
}

@media screen and (max-width: 870px) {  /* drop-down menu */
    #nav-toggle {
        display: block;
    }

    #nav-menu {
        display: none;
    }

    #nav-menu.active {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        background-color: var(--dropdown-bg);
        padding: 30px;
        padding-top: 75px;
        width: 200px;
        position: absolute;
        top: 6px;
        right: 15px;
        border-radius: 10px;
    }

    #nav-controls.active button,
    #nav-controls.active button:active {
        background-color: var(--nav-btn-hover);
    }

    #nav-controls.active button:hover {
        background-color: var(--nav-btn-darker);
    }

    #nav-menu.active li.desktop {
        display: none;
    }

    #nav-menu.active li.mobile {
        display: block;
        font-size: 1.1rem;
    }
}

@media screen and (max-width: 430px) {  /* mobile 430 */
    body {
        padding: 0px 20px;
    }

    #nav-menu.active {
        padding: 70px 30px 20px 30px;
        top: 7px;
        right: 19px;
        border-radius: 10px;
    }

    #char-count-input {
        width: 100%;
    }

    .habit {
        width: 45%;
    }

    .points-display {
        width: 48%;
    }

    .reorder-items {    /* drag & drop doesn't work on mobile */
        display: none;
    }

    footer {
        margin-top: 30px;
    }
}
