/* Desktop-first approach */

* {
    box-sizing: border-box;
}

body {
    font-family: "Figtree", sans-serif;;
    background-color: #F8F5F0;
    color: #0D2F4D;
    padding: 0 35px;
    margin: 0;
}

body.dark-mode {
    background-color: #0D2F4D;
    color: #F8F5F0;
}

#nav-bar {
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #E8E5E1;
    padding: 20px 30px;
    margin: 0 -35px;
    top: 0;
}

#nav-left {
    display: flex;
    gap: 35px;
}

#nav-left h1 {
    margin: 0;
}

#nav-controls {  /* stores buttons */
    display: flex;
    gap: 10px;
    z-index: 0;
}

#nav-controls button {
    background-color: #FFFFFF;
    border: none;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    text-align: center;
}

#nav-controls button:hover {
    background-color: #F5F5F5;
}

#nav-controls button:active {
    background-color: #FFFFFF;
}

#nav-toggle {
    display: none;
}

#nav-menu { /* stores links that jump to content */
    display: flex;
    align-items: center;
    gap: 10px;
    list-style: none;
    margin: 0;
    padding: 0;
}

#nav-menu li.mobile {
    display: none;
}

#nav-menu li p {
    margin: 0;
}

#nav-menu li a {
    color: #163C5E;
    text-decoration: none;
}

#nav-menu li a:hover {
    color: #3F6A91;
}

#nav-menu li a:active {
    color: #7CA2C4;
}

#nav-bar button:hover,
#add-button:hover,
.shape:hover,
.habit:hover,
.habit input:hover,
.habit label:hover,
.item {
    cursor: pointer;
}

section {
    scroll-margin-top: 87px;   /* accounts for nav bar's space */
}

h3 {
    padding-top: 15px;
}

input, textarea, button {
    font-family: 'Figtree', sans-serif;
}

#text-container p:hover {
    cursor: pointer;
    color: red;
}

#text-container p:active {
    color: darkred;
}

.shape {
    display: inline-block;
    background-color: #B89A6A;
    margin-right: 20px;
    height: 50px;
    width: 50px;
}

#circle {
    border-radius: 50%;
}

#triangle {
    height: 0;
    width: 0;
    background-color: transparent;
    border-left: 28px solid transparent;
    border-right: 28px solid transparent;
    border-bottom: 50px solid #B89A6A;
}

.shape.active {     /* squares & circles */
    background-color: #785928;
}

#triangle.active {
    background-color: transparent;
    border-bottom-color: #785928;
}

#char-count-input {
    width: 80%;
}

.habit {
    display: inline-block;
    width: 35%;
    margin: 2px;
}

#sleep-hours-container {
    display: none;
    margin-left: 24px;
}

#hours-label {
    font-size: 0.75rem;
}

#sleep-hours-input {
    font-size: 0.75rem;
    width: 35px;
    border: none;
    background-color: transparent;
}

.points-display {
    display: inline-block;
    width: 36%;
}

#points-message.zero{
    color: #47DB0D;
}

#points-message.one{
    color: #12CF5B;
}

#points-message.two{
    color: #1EC05C;
}

#points-message.three{
    color: #1C9048;
}

#item-bank {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #0D2F4D;
    padding: 5px;
    width: 90%;
    margin-bottom: 40px;
}

.item {
    margin: 5px;
    padding: 6px;
    width: 100px;
}

#drop-line {
    border: 1px solid #0D2F4D;
    width: 90%;
    padding: 5px;
    min-height: 40px;
    margin-bottom: 50px;
}

footer {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #EFECE8;
    margin: -15px -35px;
    margin-top: 30px;
    padding: 5px;
}

footer a {
    color: #3F6A91;
}

footer a:active {
    color: #7CA2C4;
}

@media screen and (max-width: 870px) {
    #nav-toggle {
        display: block;
    }

    #nav-menu {
        display: none;
    }

    #nav-menu.active {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        background-color: #D9D6D2;
        padding: 30px;
        padding-top: 75px;
        width: 200px;
        position: absolute;
        top: 6px;
        right: 15px;
        border-radius: 10px;
    }

    #nav-controls.active button {
        background-color: #F5F5F5;
    }

    #nav-controls.active button:hover {
        background-color: #E9E9E9;
    }

    #nav-controls.active button:active {
        background-color: #F5F5F5;
    }

    #nav-menu.active li.desktop {
        display: none;
    }

    #nav-menu.active li.mobile {
        display: block;
        font-size: 1.1rem;
    }
}

@media screen and (max-width: 430px) {
    body {
        padding: 5px 20px;
    }

    #char-count-input {
        width: 100%;
    }

    .habit {
        width: 45%;
    }

    .points-display {
        width: 48%;
    }

    .reorder-items {    /* drag & drop doesn't work on mobile */
        display: none;
    }
}
